<h1>Bonjour merci de confirmer votre adresse email</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bien cordialement,<br>
    L'équipe My Quizz ©.
</p>
