<head>
    <meta charset="UTF-8">
    <title>My Quizz - {% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block stylesheets %}
    {% endblock %}
</head>