{% extends 'admin.html.twig' %}

{% block title %} Administration {% endblock %}

{% block body %}
    <div>
        <div
                class="bg-zinc-50 px-6 py-20 text-center text-surface dark:bg-neutral-700 dark:text-white">
            <h1 class="mb-6 text-5xl font-bold">Administration gestion de la suppression d'un quizz</h1>
        </div>
        <div class="container mx-auto">
            <div>
                <p class="text-red-600">En cliquant sur le bouton ci-dessous, vous allez supprimer le quizz: <strong>{{ quizz.getName }}</strong></p>.
            </div>
            <a href="{{ path('admin.quizz.delete', {id: quizz.getId}) }}">
                <button type="button" class="bg-blue-500 rounded p-2 text-white">
                    Supprimer le quizz
                </button>
            </a>
        </div>
    </div>
{% endblock %}
